*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Kanit',sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
background:linear-gradient(
135deg,
#e005fd,
#ff7300,
#6206f7
);
color:white;
}

.container{
width:100%;
max-width:1200px;
padding:20px;
display:flex;
justify-content:center;
align-items:center;
}

.glass-card{
width:100%;
max-width:600px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.15);

border-radius:30px;

padding:40px;

text-align:center;

box-shadow:
0 0 40px rgba(65, 68, 255, 0.4),
0 0 80px rgba(139,92,246,.2);
}

.logo{
font-size:90px;
margin-bottom:15px;
animation:float 3s infinite ease-in-out;
}

h1{
font-size:3rem;
margin-bottom:10px;
background:linear-gradient(
90deg,
#f305df,
#a855f7
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.subtitle{
opacity:.8;
margin-bottom:30px;
}

.stats{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-bottom:30px;
}

.stat-box{
padding:20px;
border-radius:20px;
background:rgba(255,255,255,.08);
}

.stat-box h3{
font-size:1rem;
margin-bottom:10px;
}

.stat-box span{
font-size:2rem;
font-weight:bold;
color:#60a5fa;
}

.menu-buttons{
display:flex;
flex-direction:column;
gap:15px;
margin-bottom:25px;
}

.btn{
padding:18px;
border-radius:15px;
text-decoration:none;
color:white;
font-size:1.2rem;
font-weight:600;
transition:.3s;
}

.easy{
background:#ff0281;
}

.medium{
background:#ffa201;
}

.hard{
background:#8a07f5;
}

.btn:hover{
transform:translateY(-5px) scale(1.03);

box-shadow:0 0 25px rgba(255,255,255,.3);
}

.bottom-buttons{
display:flex;
gap:10px;
justify-content:center;
flex-wrap:wrap;
}

.secondary-btn{
border:none;
padding:12px 20px;
border-radius:12px;
cursor:pointer;
background:#007ea5;
color:white;
transition:.3s;
}

.secondary-btn:hover{
transform:scale(1.05);
}

.danger{
background:#f7ebeb;
}

.fade-in{
animation:fadeIn 1s ease;
}

.background span{
position:absolute;
display:block;
border-radius:50%;
background:rgba(255,255,255,.08);
animation:move 15s linear infinite;
}

.background span:nth-child(1){
width:150px;
height:150px;
left:10%;
top:20%;
}

.background span:nth-child(2){
width:200px;
height:200px;
right:10%;
top:10%;
}

.background span:nth-child(3){
width:120px;
height:120px;
bottom:20%;
left:20%;
}

.background span:nth-child(4){
width:180px;
height:180px;
bottom:10%;
right:15%;
}

@keyframes move{
0%{
transform:translateY(0) rotate(0);
}
100%{
transform:translateY(-100px) rotate(360deg);
}
}

@keyframes float{
50%{
transform:translateY(-10px);
}
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@media(max-width:768px){

h1{
font-size:2rem;
}

.glass-card{
padding:25px;
}

.stats{
grid-template-columns:1fr;
}

}